body{
    height: 100vh;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
   background-image: url(https://wallpapers.com/images/hd/aesthetic-computer-4k-c9qdhe02pr84wh3a.jpg);
   background-repeat: no-repeat;
}
.calculator{
    border: 1px solid;
    width: 100%;
    max-width: 400px;
    background-color: #00000029;
    padding: 10px 10px 30px ;
    border-radius: 20px;
    border: none;
}
.screen{
    height: 80px;
    background-color: #fdfdfd59 ;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    padding : 5px;
    font-size: 35px;
    margin: 10px 10px 20px;
    
}

.keypad{
    padding: 5px;
}
.controls{
    display: flex;
    justify-content: center;
}
.btn{
    flex: auto;
    margin: 3px;
    width: 40px;
    height: 60px;
    border-radius: 100px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
.operator{
    background-color: rgb(0, 0, 0);
    color: white;
}

.double-size{
    flex-grow: 2;
    height: auto;
    border-radius: 30px;
}
i {
    -webkit-text-stroke: 1px;
}